@using WebLibraryProject2.Models
@model WebLibraryProject2.Models.Publication

@{
    ViewBag.Title = "Delete";
    ViewBag.Title = "Details";
    LibraryDatabase db = ViewBag.db;
    Model.Authors = db.Publications.Find(Model.Id)?.Authors.ToArray();
    var authors = db.Authors.ToList();
    var courses = db.Courses.ToList();
    var disciplines = db.Disciplines.ToList();
    var bookLocations = db.BookLocations.ToList();
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Publication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            <a href="@Url.Action("Authors", new{ PublicationId = Model.Id })">@Html.DisplayNameFor(model => model.Authors)</a>
        </dt>

        <dd>
            @foreach (var author in authors)
        {
            if (author.Publications.Any(e => e.Id == Model.Id))
            {
                <text>
                    @author.ToString(),&nbsp;
                </text>
        }
    }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplines)
        </dt>

        <dd>
            @foreach (var discipline in disciplines)
        {
            if (discipline.Publications.Any(e => e.Id == Model.Id))
            {
                <text>
                    @discipline.ToString(),&nbsp;
                </text>
        }
    }
        </dd>

        <dt>
            <a href="@Url.Action("BookLocations", new {PublicationId = Model.Id})">@Html.DisplayNameFor(model => model.BookLocations)</a>
        </dt>

        <dd>
            @bookLocations.Count(e => e.Publication.Id == Model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toEnumPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternetLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternetLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
