@using WebLibraryProject2.Controllers
@using WebLibraryProject2.Models
@model WebLibraryProject2.Models.Publication

@{
    ViewBag.Title = "Details";
    LibraryDatabase db = ViewBag.db;
    Model.Authors = db.Publications.Find(Model.Id)?.Authors.ToArray();
    var authors = db.Authors.ToList();
    var courses = db.Courses.ToList();
    var disciplines = db.Disciplines.ToList();
    var bookLocations = db.BookLocations.ToList();
}

<h2>Details</h2>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <a href="@Url.Action("Authors", new{ PublicationId = Model.Id })">@Html.DisplayNameFor(model => model.Authors)</a>
        </dt>

        <dd>
            @foreach (var author in authors)
            {
                if (author.Publications.Any(e => e.Id == Model.Id))
                {
                    <text>
                        @author.ToString(),&nbsp;
                    </text>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplines)
        </dt>

        <dd>
            @foreach (var discipline in disciplines)
            {
                if (discipline.Publications.Any(e => e.Id == Model.Id))
                {
                    <text>
                        @discipline.ToString(),&nbsp;
                    </text>
                }
            }
        </dd>

        <dt>
            <a href="@Url.Action("BookLocations", new {PublicationId = Model.Id})">@Html.DisplayNameFor(model => model.BookLocations)</a>
        </dt>

        <dd>
            @bookLocations.Count(e => e.Publication.Id == Model.Id)
        </dd>

        <dt>
            <a href="@Url.Action("Courses", new{PublicationId = Model.Id})">@Html.DisplayNameFor(model => model.Courses)</a>
        </dt>

        <dd>
            @foreach (var course in courses)
        {
            if (course.Publications.Any(e => e.Id == Model.Id))
            {
                <text>
                    @course.ToString(),&nbsp;
                </text>
        }
    }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toEnumPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternetLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternetLocation)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new
        {
            id = Model.Id
        }) |
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
