@using WebLibraryProject2.Controllers
@model WebLibraryProject2.Models.Courses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Publications)
        </dt>
        
        <dd>
            @Html.ActionLink("Publications", "Publications", new{ CourseId = Model.Id })
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new
        {
            id = Model.Id
        }) |
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
