@model WebLibraryProject2.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronimic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronimic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriterType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriterType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
