@using WebLibraryProject2.Controllers
@model IEnumerable<WebLibraryProject2.Models.Discipline>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                <text>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </text>
            }
        </td>
    </tr>
}

</table>
