@using WebLibraryProject2.Controllers
@model WebLibraryProject2.Models.Reader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronimic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronimic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toEnumAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BookLocations.First().Publication);
        </dt>
        
        <dd>
            @Html.ActionLink("Publications", "Publications", new {ReaderId = Model.Id})
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new
        {
            id = Model.Id
        }) |
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
