@using Microsoft.AspNet.Identity
@using WebLibraryProject2.Controllers

<div class="jumbotron">
    <h2>
        Library Management System
    </h2>
    <p>
        An information system for managing HSE departament library.
    </p>
    @if (User.IsInRole("Admin"))
    {
        <p>You can view, create, edit and delete any of the following:</p>
    }
    else
    {
        <p>You can view any of the following:</p>
    }
</div>

<div class="row center-1">
    <div class="col-md-2 center">
        @Html.ActionLink("Authors", "Index", "Authors", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Readers", "Index", "Readers", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Publications", "Index", "Publications", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Locations", "Index", "BookLocations", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Disciplines", "Index", "Disciplines", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Stats", "Index", "Stats", null, new
        {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-2 center">
        @Html.ActionLink("Courses", "Index", "Courses", null, new
        {
            @class = "btn btn-default"
        })
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <hr />
    <div class="row center-1">
        <div class="col-md-12 center">
            @Html.ActionLink("Fill with test data!", "TestFill", "Account", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    </div>
}