@model WebLibraryProject2.Models.SearchModel

@{
    ViewBag.Title = "Search";
    string t = string.Empty;
    if (Model != null)
    {
        t = Model.Search;
    }
}

<h2>@ViewBag.Title</h2>
@if (Model == null)
{
    using (@Html.BeginForm())
    {
        <div class="row center-1">
            @Html.TextBox("SearchBox", null, new
       {
           @class = "form-control",
           style = "max-width:9999px; width:90%; display:inline;"
       })
            <input type="submit" class="btn btn-default btn-primary col-md-1" value="Find in..." style="float: right;">
        </div>
    }
}
else
{
    <p>@Html.ActionLink($"'{t}' - Publications", "Publications", new {Search = t})</p>
    <p>@Html.ActionLink($"'{t}' - Authors", "Authors", new {Search = t})</p>
    <p>@Html.ActionLink($"'{t}' - Readers", "Readers", new {Search = t})</p>
}