@model WebLibraryProject2.Models.SearchModel

@{
    ViewBag.Title = "Search";
    string t = string.Empty;
    if (Model != null)
    {
        t = Model.Search;
    }
}

<h2>@ViewBag.Title</h2>
@if (Model == null)
{
    @Html.BeginForm()
    {
        if (true) { }
        <div class="row center">
            @Html.TextBox("SearchBox", null, new { @class = "form-control" })
            <input type="submit" class="btn btn-default btn-primary" value="Search!">
        </div>
    }
}
else
{
    @Html.ActionLink($"{t} - Publications", "Publications", new {Search = t})
    @Html.ActionLink($"{t} - Authors", "Authors", new {Search = t})
    @Html.ActionLink($"{t} - Readers", "Readers", new {Search = t})
}